@font-face {
  font-family: 'Clone Machine';
  font-style: normal;
  font-weight: normal;
  src: local('Clone Machine Regular'),
    url('./assets/fonts/clone-machine.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Harmattan:wght@400;700&display=swap');
